
<div class="container">
  <br>
  <br>
    <br>
  <div class="row mt-5">
    <button  type="button" class="btn-btn-info" (click)="goBack()" >Click to go Back</button>
    <div class="col-lg-9 col-sm-12 col-xs-12">
  <input type="text" placeholder="enter taskname" class="form-control" name="taskname" [(ngModel)]="taskname">
  </div>
  </div>
   <br>
  <div class="col-lg-3 col-sm-12 col-xs-12">
    <button  type="button" class="btn-btn-info" (click)="findByTaskName()" >Search</button>
    </div>
    
  <h2 class="row mt-5">Result</h2>
  <div class= "col-lg-12 col-sm-12 col-xs-12">
    <table class = "table">
      <thead>
        <tr>
          <th>TaskName</th>
          <th>description</th>
          <th>Start-Date</th>
          <th>End-Date</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
         {{task.taskName}}
        </td>
        <td>
         {{task.description}}
        </td>
        <td>
          {{task.startDate}}
        </td>
        <td>
          {{task.endDate}}
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>